
<input type="text" class="form-control" [(ngModel)]="title" placeholder="texting">
<input type="text" class="form-control" [(ngModel)]="photo" placeholder="photo address">
<input type="text" class="form-control" [(ngModel)]="caption" placeholder="description">


<input type="text" class="form-control" [(ngModel)]="video" placeholder="video-path">
<input type="text" class="form-control" [(ngModel)]="caption_video" placeholder="video-caption">



<button (click)="sendMessage()" class="btn btn-success" >Sendmessage</button>
<button (click)="sendPhoto()" class="btn btn-success" >Send-image</button>
<button (click)="sendVideo()" class="btn btn-success" >Send-video</button>


<router-outlet />
